.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    .card {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;

        width: 346px;
        height: 291px;

        margin-left: 80px; //arrumar?

        cursor: pointer;
        background-color: #15BDAC;
        border-radius: 20px;

        h1 {
            font: 400 36px Roboto, sans-serif;
            color: #FFFFFF;
            line-height: 44px;

            margin-top: 24px;
        }

        img {
            width: auto;
            height: auto;

            margin-bottom: 24px;
        }
    }
}
